APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=secret
DB_NAME=task_hub_db

JWT_ACCESS_SECRET=jwt_access_secret
JWT_REFRESH_SECRET=jwt_refresh_secret


JWT_ACCESS_EXPIRED=3600 
JWT_REFRESH_EXPIRED=86400